@import './animations.css';
@import './variables.css';

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
	box-sizing: border-box;
    background-color: var(--bg-color);
    position: relative;
    cursor: none;
    overflow-x: hidden;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: var(--dark-text);
    padding: 50px 0;
    height: 100vh;
}

h1 {
    font-size: 5rem;
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-size: 3rem;
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1rem;
}

.hidden {
    display: none !important;
}

.title {
    position: absolute;
    top: 50px;
    z-index: 800;
}

.screen {
    position: absolute;    
}

.move-left {
    animation: moveLeft 1s forwards ease-in-out;
}