.screen--game {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 800;
}

.game-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--dark-text);

}

.player-sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    width: 100vw;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    z-index: -10;
}

.player-sign .sign {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--bg-color);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--heading-font);
    width: 300px;
    height: 125px;
    border-radius: 40px 0 0 40px;
    background-color: var(--secondary-color-light);
}

.player-sign .sign.selected {
    background-color: var(--secondary-color);
}

.player-sign .sign:first-of-type {
    border-radius: 0 40px 40px 0;
}

.player-sign .sign i {
    font-size: 3rem;
    color: var(--bg-color);
    height: unset;
}

.reset-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px;
}

