.screen--game {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 800;
}

.symbols {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.symbols .selected-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0 0 0 5px var(--dark-text);
}

