/* Copyright 2024 Reika Akuzawa. All rights reserved. */

.screen--result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: var(--smoky-green);
    color: var(--light-color);
    z-index: 1200;
    opacity: 0;
}

.screen--result.expand {
    animation: showResult .5s forwards ease-in-out;
}

.screen--result h1 {
    font-size: 6rem;
    color: var(--light-color);
    text-transform: capitalize;
    text-shadow: 2px 2px 1px var(--text-shadow-color);
     margin-bottom: 70px; 
}

p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
p.result__message {
    font-size: 2rem;
    color: var(--main-color);
    text-transform: capitalize;
    text-align: center;
}