/* Copyright 2024 Reika Akuzawa. All rights reserved. */

@import '../utils/animations.css';
@import '../utils/variables.css';

/* Start Screen */
.screen--start {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    transform: translateY(25%);
    width: 100vw;
    height: 400px;
    top: 15%;
    left: 0%;
    z-index: 900;
    transition: all .6s;
}

.screen--start.expand {
    height: 100vh;
    min-height: 1000px;
    top: 0;
    transform: unset;
}

.screen--start.move-down {
    animation: moveDown 1s forwards ease-in-out;
    transform-origin: bottom;
}

.screen--start h2 {
    text-align: center;
}

.screen--start h2.start-game {
    line-height: 300px;
    color: transparent;
    font-size: 8rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    -webkit-text-stroke: 3px var(--bg-color);
}

.screen--start .start-form {
    max-width: var(--container-width);
    height: 300px;
    margin: 50px auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 500px;
}