.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1;
    width: 400px;
    margin: 0 auto;
    border: 1px solid var(--dark-text);
    background-color: var(--light-color);
}

.board__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 1px solid var(--dark-text);
}

.board__cell.board__cell--winning {
    background-color: var(--secondary-color);
}

.board__cell.board__cell--winning i {
    color: var(--main-color);
}