@import '../utils/variables.css';
@import '../utils/animations.css';

button {
    cursor: none;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: var(--heading-font);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--main-color);
    border: solid 2px var(--main-color-dark);
    border-radius: 5px;
    transition: all 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.btn.disabled, .btn.disabled i {
    pointer-events: none;
    opacity: 0.8;
}


.btn.disabled:hover {
    transform: none;
}

.btn--square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--bg-color);
    color: var(--main-color);
    transition: background-color 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: border 0.1s ease, box-shadow 0.3s ease-in; 
}

.btn--square:hover {
    border: solid 5px var(--main-color);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.screen--start .btn--square .fa-solid {
    color: var(--primary-color);
    font-size: 5rem;
    height: auto;
} 

.btn:active {
    transform: translateY(2px);
}

.back-btn--opponent {
    font-size: 1.2rem;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    color: var(--bg-color);
    display: block;
    text-decoration: underline;
}

.screen--start .back-btn--opponent i {
    font-size: 1.2rem;
    color: var(--bg-color);
    margin-top: 5px;
}

.back-btn--step {
    width: 67px;
    height: 67px;
    padding: 0 1rem;
}

.back-btn--step i {
    color: var(--main-color);
    font-size: 2rem;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);;
} 

.btn--square.switch-opponent-btn {
    width: 5rem;
    height: 5rem;
    padding: 0 1rem;
    border-radius: 50%;
    position: absolute;
    bottom: 240px;
    right: -10px;
    color: var(--dark-text);
    border: solid 2px var(--main-color);
    z-index: 800;
}

.btn--square.switch-opponent-btn i, .switch-opponent-btn span {
    color: var(--main-color);
    height: unset;
}

.switch-opponent-btn span {
    font-size: 1.2rem;
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-opponent-btn:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-width: 2px;
    padding-left: 2rem;
    animation: expandBtn forwards .3s ease-in;
}

.switch-opponent-btn:hover span {
    animation: showSpanText forwards .3s ease-in;
}