/* Copyright 2024 Reika Akuzawa. All rights reserved. */

.cursor {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1500;
}

.cursor.isActive.show {
    opacity: 1;
    transition: opacity 0.1s;
}
.cursor i {
    color: var(--smoky-green);
    font-size: 2rem;
    text-shadow: 1px 1px 1px var(--text-shadow-color);
}

.cursor.dark i {
    color: var(--smoky-green-dark);
}

.cursor.pink i {
    color: var(--secondary-color);
}