/* Copyright 2024 Reika Akuzawa. All rights reserved. */

.fa-solid {
    color: var(--dark-text);
    display: inline-block;
    height: 2rem;
    font-style: normal;
}

.fa-xmark {
    transform: scale(1.1);
}